[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Use case 3
Type=Link
URL=file:///home/djusteau/RProjects/rflsgen/docs/articles/UseCase3.html
Icon=text-html
